* {
  margin: 0;
  border: 0;
}

.blogTitle {
  padding-top: 50px;
  width: 100%;
  height: 125px;
  font-size: 15px;
  text-align: center;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.blogTitle h1 {
  display: block;
  width: 100%;
  height: 80px;
}

.subTitle {
  display: block;
  height: 45px;
}

.left, .right {
  width: 50%;
  display: inline-block;
  text-align: center;
  border-top: 3px solid black;
  text-align: center;
}

.bodyContent {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: block;
  width: 75%;
  max-width: 1200px;
  border: 2px solid black;
}

.assessmentType {
  padding-top: 25px;
  float: right;
}

.mediaContent {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftCB, .rightCB {
  width: 50%;
  display: inline-block;
}

.rightCB {
  text-align: right;
}

.commentAndUsers {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CAUWrapper {
  width: 75%;
}

.commentSection {
  width: 75%;
  display: inline-block;
}

.similarUsers {
  width: 25%;
  display: inline-block;
}

.similarUsers ul {
  list-style-type: none;
}

.comment {
  width: 100%;
}

.CILeft, .CIRight {
  display: inline-block;
  width: 50%;
}

.CIRight {
  text-align: right;
}

.commentInfo {
  padding-top: 25px;
}

